body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.btn {
  border-radius: 25px;
  font-weight: 800;
}

.vw-25 {
  width: 25vw !important;
}

.vw-50 {
  width: 50vw !important;
}

.vw-75 {
  width: 75vw !important;
}

header {
  position: relative;
  z-index: 1;
  height: 70.3125vw;
}

header .header-content {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation-name: header-content-fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-delay: 2.5s;
}

@keyframes header-content-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .header-content .header-text {
  padding: 8%;
  width: 100%;
}

header .header-content .header-text h1 {
  font-weight: 900;
  font-size: 6vw;
  margin-left: 10rem;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  animation-name: header-content-slide-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-delay: 2.5s;
}

@keyframes header-content-slide-left {
  from {
    padding-left: 4rem;
  }
  to {
    padding-left: 0rem;
  }
}

header .header-content .header-text h2 {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 3vw;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
  animation-name: header-content-slide-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-delay: 2.5s;
}

@keyframes header-content-slide-right {
  from {
    padding-left: 0rem;
  }
  to {
    padding-left: 4rem;
  }
}

header .header-content .nav {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  margin: 15px;
}

header .header-content .nav a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5vw;
  box-shadow: none !important;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.5rem 2rem;
}

header .header-content .nav a:hover {
  color: #ff006a !important;
  background-color: white !important;
}

header .header-content .call-to-action {
  color: white;
  background-color: #ff006a;
  font-weight: 800;
  font-size: 2vw;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}

header .header-content .call-to-action.call-to-action-invert {
  color: #ff006a;
  background-color: white;
}

.header-dimmer {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #652fff;
  background-position: top;
  z-index: 10;
  animation-name: header-dimmer;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-delay: 1s;
}

@keyframes header-dimmer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header .header-dimmer-gradient {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(33, 26, 90, 0.4) 0%,
    rgba(33, 26, 90, 0) 80%
  );
  z-index: 10;
}

header .rellax {
  position: absolute;
}

header .rellax img {
  width: 100vw;
  vertical-align: bottom;
}

.layer-dev {
  position: relative;
}

.layer-dev::after {
  content: "";
  position: absolute;
  height: 100vh;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
}

section {
  background-color: white;
  position: relative;
  z-index: 2;
}

.wave {
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  margin: 0 -10px;
  position: relative;
  z-index: 12;
}

.wave-top {
  background-image: url("/img/wave-top.svg");
  background-position: 0px 1px;
  height: 9.097222222vw;
}

.wave-bottom {
  background-image: url("/img/wave-bottom.svg");
  background-position: 0px -1px;
  height: 4.883958333vw;
}

.wave-footer {
  background-image: url("/img/wave-footer.svg");
  background-position: 0px 1px;
  height: 12.533880556vw;
}

.accent-color {
  color: #652fff;
}

.font-weight-bolder {
  font-weight: 800;
}

.intro h1 {
  font-size: 4vw;
}

.intro h4 {
  font-size: 1.5vw;
}

.intro .lead {
  font-size: 1.8vw;
}

.card {
  border-radius: 25px;
  opacity: 0.9;
}

.card h4 {
  font-size: 1.5vw;
}

.card h1 {
  font-weight: bold;
  font-size: 4vw;
}

.card p {
  font-size: 1.5vw;
}

.content-bg {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50vw;
  position: relative;
  z-index: 13;
}

.content-bg1 {
  background-image: url("/img/content-bounties.png");
  background-position: 75% center;
}

.content-bg2 {
  background-image: url("/img/content-tipping.png");
  background-position: 25% center;
}

.content-bg3 {
  background-image: url("/img/content-promotion.png");
  background-position: 75% center;
}

.animation {
  overflow: hidden;
}

.animation img {
  width: 100%;
}

.animation-right {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.animation-left {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

footer {
  background-color: #652fff;
  position: relative;
  z-index: 12;
}

footer .footer-links .btn {
  font-size: 1.8vw;
  transition: color 0.3s ease, background-color 0.3s ease;
}

footer .footer-links .btn:hover {
  background: white;
  color: #652fff !important;
}

footer .social-icons .btn {
  font-size: 3vw;
}
